body{
    background: #F5F5F5;
}
.container{
    width: 1226px;
    margin: 30px auto;
}
.left{
    width: 234px;
    height: 614px;
    background: saddlebrown;
    float: left;
}
.left img{
    width: 234px;
}
.right{
    width: 992px;
    height: 614px;
    float: left;
}
.clear{
    clear: both;
}
.cell{
    width: 234px;
    height: 260px;
    background: rgb(255, 255, 255);
    padding: 20px 0;
    float: left;
    margin-left: 14px;
    margin-bottom: 14px;
    text-align: center;
}
.cell,.left{
        cursor: pointer;
}
.cell img{
    width: 160px;
}
.title,.price{
    font-size: 14px;
}
.title{
    margin-bottom: 0px;
}
.desc{
    font-size: 12px;
    color: rgb(170, 165, 165);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 5px;
}
.price{
    margin-top: 10px;
}
.price span{
    color: rgb(255, 90, 61);
    margin: 0 14px 14px;
}
.cell a{
    text-decoration: none;
}
.cell:hover,.left:hover{
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
    transform: translate3d(0,-2px,0);
    transition:all 0.3s ;
}